<div class="container" [hidden]="submitted">
	<div class="form-group row">
	   <label for="email" class="col-sm-2 col-form-label">Imagen</label>
	   <div class="col-sm-10">
	       <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
			<button (click)="upload()">Subir</button>
		</div>
	</div>
  <form>

    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="person.name" class="form-control" #name="ngModel" 
        name="name" placeholder="Nombre">
      </div>
    </div>

    <div class="form-group row">
      <label for="Apellido" class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="person.lastName" class="form-control" name="lastName" 
        id="lastName" #nombre="ngModel" placeholder="Apellido">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" [(ngModel)]="person.email" class="form-control" name="email" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10"><!--  guardar(); personForm.reset() -->
        <button class="btn btn-success" (click)="save()">Guardar</button>
      </div>
    </div>
  </form>
  <div class="form-group row">
      <div class="offset-sm-2 col-sm-10"><!--  guardar(); personForm.reset() -->
          <cl-image [public-id]="imageId" [cloud-name]="uploader.cloudName" width="300" height="300"
			        crop="fill" gravity="auto"></cl-image>
      </div>
  </div>


</div>

