
<!--SERIA EL APP COMP PADRE-->

<app-clase3 (enviarPalabra)="guardarPalabra($event)"></app-clase3>

<app-lista-clase3 [lista]="palabras"></app-lista-clase3>  <!--aca dentro iria la lista con el array que va iterar-->

<!--<div class="container">
  <form>
    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="persona.nombre" class="form-control" name="nombre" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group row">
      <label for="Apellido" class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="persona.apellido" class="form-control" name="Apellido" placeholder="Apellido">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" [(ngModel)]="persona.mail" class="form-control" name="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Checkbox</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="persona.check" class="form-check-input" name="check" type="checkbox"> Check me out
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button class="btn btn-success" (click)="guardar($event)">Guardar</button>
        <button class="btn btn-info" (click)="traer($event)">traer</button>
      </div>
    </div>
  </form>
</div>-->

